<?php declare(strict_types=1);

use PhpCsFixer\Config;

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__ . '/src');

return Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
//        '@PSR2' => true,
//        '@Symfony' => true,
        'declare_strict_types' => true,
    ])
    ->setFinder($finder);
