{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{% block base_main %}
    <main class="content-main">
        {% block base_flashbags %}
            <div class="flashbags container">
                {% for type, messages in app.flashes %}
                    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with { type: type, list: messages } %}
                {% endfor %}
            </div>
        {% endblock %}

        {% block base_main_inner %}
            <div class="container">
                {% block base_main_container %}
                    <div class="container-main">
                        {% block base_breadcrumb %}
                            {% if breadcrumbList %}
                                {% sw_include '@Storefront/storefront/layout/breadcrumb.html.twig' %}
                            {% endif %}
                        {% endblock %}

                        {% block base_content %}
                            <div class="product-detail"
                                 itemscope
                                 itemtype="https://schema.org/Product">
                                {% block page_product_detail_inner %}
                                    {% block page_product_detail_content %}
                                        <div class="product-detail-content">
                                            {% block page_product_detail_breadcrumb %}
                                                {# TODO - Missing data #}
                                                {# <div class="breadcrumb product-breadcrumb container">#}
                                                {# {% sw_include '@Storefront/storefront/component/product/breadcrumb.html.twig' with {#}
                                                {# navigationTree: page.header.navigation.tree,#}
                                                {# categoryTree: page.product.categoryTree|last,#}
                                                {# product: page.product#}
                                                {# } only %}#}
                                                {# </div>#}
                                            {% endblock %}
                                            {% block page_product_detail_headline %}
                                                <div class="row align-items-center product-detail-headline">
                                                    {% sw_include '@Storefront/storefront/page/product-detail/headline.html.twig' %}
                                                </div>
                                            {% endblock %}

                                            {% set mediaItems = page.product.media.media %}

                                            {% block page_product_detail_main %}
                                                <div class="row product-detail-main">
                                                    {% block page_product_detail_media %}
                                                        <div class="col-lg-7 product-detail-media">
                                                            {% if page.product.media %}
                                                                {% sw_include '@Storefront/storefront/element/cms-element-image-gallery.html.twig' with {
                                                                    'mediaItems': mediaItems,
                                                                    'zoom': true,
                                                                    'zoomModal': true,
                                                                    'displayMode': 'contain',
                                                                    'gutter': 5,
                                                                    'minHeight': '430px',
                                                                    'navigationArrows': 'inside',
                                                                    'navigationDots': 'inside',
                                                                    'galleryPosition': 'left',
                                                                    'isProduct': true,
                                                                    'fallbackImageTitle': page.product.translated.name,
                                                                    'startIndexThumbnails': page.product.cover.position + 1,
                                                                    'startIndexSlider': page.product.cover.position + 1
                                                                } %}
                                                            {% endif %}
                                                        </div>
                                                    {% endblock %}

                                                    {% block page_product_detail_buy %}
                                                        <div class="col-lg-5 product-detail-buy">
                                                            {% sw_include '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}
                                                        </div>
                                                    {% endblock %}
                                                </div>
                                            {% endblock %}
                                        </div>
                                    {% endblock %}

                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>

            {% block base_second_container %}
                <div class="container-second">
                    <div class="container">
                        {% block page_product_detail_tabs %}
                            <div class="product-detail-tabs">
                                {% sw_include '@Storefront/storefront/page/product-detail/tabs.html.twig' %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}

        {% endblock %}
    </main>
{% endblock %}
