{% sw_extends '@Storefront/storefront/page/product-detail/review/review-item.html.twig' %}

{% block page_product_detail_review_item_info_date %}{% endblock %}

{% block page_product_detail_review_item_title %}
    <div class="col-md-12 product-detail-review-item-title">
        <p class="h5">
            {{ review.title }}
        </p>
    </div>
{% endblock %}
