{% block sw_cms_element_merchant_listing_preview %}
    <div class="sw-cms-el-preview-merchant-listing">
        <sw-cms-merchant-box-preview :hasText="false"></sw-cms-merchant-box-preview>
    </div>
{% endblock %}
