.button-wrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  margin-top: 32px;
  gap: 12px;
}

.image-wrapper {
  max-width: 300px;
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 100px;
}
