<form clrForm clrLayout="vertical" [formGroup]="form" *ngIf="null !== product">
  <h3>{{'MERCHANT.PRODUCTS.DETAILS.HEADLINE' | translate}}</h3>
  <clr-select-container>
    <label>{{'MERCHANT.PRODUCTS.DETAILS.PRODUCT_TYPE' | translate}}</label>
    <select clrSelect name="types" formControlName="productType">
      <option value="product">{{'COMMON.PRODUCT' | translate}}</option>
      <option value="storeWindow">{{'COMMON.SHOWCASE' | translate}}</option>
      <option value="voucher">{{'COMMON.VOUCHER' | translate}}</option>
    </select>
  </clr-select-container>
  <clr-input-container>
    <label>{{'MERCHANT.PRODUCTS.DETAILS.PRODUCT_NAME' | translate}}</label>
    <input
      clrInput
      type="text"
      formControlName="name"
      name="example"
      required
    />
  </clr-input-container>
  <clr-textarea-container>
    <label>{{'MERCHANT.PRODUCTS.DETAILS.DESCRIPTION_TEXT' | translate}}</label>
    <textarea
      clrTextarea
      formControlName="description"
      name="description"
    ></textarea>
  </clr-textarea-container>
  <clr-input-container>
    <label>{{'COMMON.ACTIVE' | translate}}</label>
    <input clrInput type="checkbox" formControlName="active" clrToggle />
  </clr-input-container>
  <h3>{{'MERCHANT.PRODUCTS.DETAILS.PRODUCT_IMAGE' | translate}}</h3>
  <portal-single-image-upload-container
    [existingImageUrl]="product.media[0]?.url"
    (newImageSelected)="imageSelected($event)">

  </portal-single-image-upload-container>

  <ng-container *ngIf="'storeWindow' !== form.get('productType').value">
    <h3>{{'COMMON.PRICE' | translate}}</h3>
    <clr-input-container>
      <label>{{'COMMON.PRICE' | translate}}</label>
      <input
        clrInput
        type="number"
        min="1"
        step="any"
        name="price"
        formControlName="price"
      />
      <clr-icon shape="euro"></clr-icon>
    </clr-input-container>
    <clr-select-container>
      <label>{{'COMMON.TAX_RATE' | translate}}</label>
      <select clrSelect name="tax" formControlName="tax">
        <option value="7">7% {{'COMMON.VALUE_ADDED_TAX' | translate}}</option>
        <option value="19">19% {{'COMMON.VALUE_ADDED_TAX' | translate}}</option>
      </select>
    </clr-select-container>
  </ng-container>
  <div class="button-wrapper">
    <button
      class="btn btn-primary"
      type="button"
      (click)="saveProduct()"
      [disabled]="form.invalid || saveInProgress"
    >
      {{'COMMON.SAVE' | translate}}
    </button>
  </div>
</form>
