.login-card {
    margin-bottom: 35px;

    .card-title {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 30px;
        font-size: 20px;
    }

    .password-form-group {
        margin-bottom: 12px;
    }

    .login-password-recover {
        margin-bottom: 33px;
    }

}

.login-advantages {

    .login-advantages-header {
        font-size: 14px;
    }

    ul {
        padding-left: 34px;
    }

}
