<clr-header class="header-4">
  <!-- Branding -->
  <div class="branding">
    <div class="nav-link">
      <clr-icon shape="store"></clr-icon> <!-- can be replaced with favicon -->
      <span class="title">Portal</span>
    </div>
  </div>

  <!-- Toolbar Navigation -->
  <div class="header-nav">
    <a *ngFor="let nav of navigation"
       class="nav-link"
       [routerLink]="nav.route"
       routerLinkActive='active'
       [routerLinkActiveOptions]="{ exact: true }">
      {{nav.title}}
    </a>
  </div>

</clr-header>
