{% sw_extends '@Storefront/storefront/layout/header/header-minimal.html.twig' %}

{% block layout_header %}
    <header class="header-minimal">
        {% block layout_header_minimal_inner %}
            {{ parent() }}
        {% endblock %}
    </header>
{% endblock %}

{# Hide contact #}
{% block layout_header_minimal_contact %}{% endblock %}

{% block layout_header_minimal_switch %}
    <div class="col-6 col-md-4 header-minimal-home">
        <a class="btn btn-outline-secondary btn-sm header-minimal-home-btn"
           href="{{ path('frontend.home.page') }}"
           title="{{ "header.logoLink"|trans|striptags }}">
            {{ "header.logoLink"|trans|sw_sanitize }}
        </a>
    </div>
{% endblock %}
