{% block layout_header_logo_image %}
    <a class="header-logo-main-link"
       href="{{ path('frontend.home.page') }}"
       title="{{ "header.logoLink"|trans|striptags }}">
        <picture>
            {% block layout_header_logo_image_default %}
                {% if context.salesChannel.extension('organization').logo %}
                    <img src="{{ context.salesChannel.extension('organization').logo.url |sw_encode_url }}"
                         alt="{{ "header.logoLink"|trans|striptags }}"
                         class="img-fluid header-logo-main-img"/>
                {% endif %}
            {% endblock %}
        </picture>
    </a>
{% endblock %}
