<h1 class="title">{{'MERCHANT.DETAILS.HEADLINE' | translate}}</h1>

<span>{{'MERCHANT.DETAILS.SUB_HEADLINE' | translate}}</span>

<clr-tabs>
  <clr-tab>
    <button clrTabLink>
      {{'COMMON.GENERAL' | translate}}
    </button>

    <clr-tab-content>
      <form
        clrForm
        clrLayout="vertical"
        [formGroup]="profileForm"
        *ngIf="merchantLoaded && categoriesLoaded; else loading"
      >
        <clr-toggle-wrapper>
          <input
            type="checkbox"
            clrToggle
            value="true"
            formControlName="public"
            name="public"
          />
          <label>{{'MERCHANT.DETAILS.PUBLISH' | translate}}</label>
        </clr-toggle-wrapper>
        <clr-select-container>
          <label>{{'COMMON.INDUSTRY' | translate}}</label>
          <select clrSelect name="categoryId" formControlName="categoryId">
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
        </clr-select-container>

        <h3>{{'COMMON.CONTACT_INFORMATION' | translate}}</h3>

        <clr-input-container>
          <label>{{'COMMON.COMPANY_NAME' | translate}}</label>
          <input
            clrInput
            placeholder="{{'MERCHANT.DETAILS.COMPANY_NAME_PLACEHOLDER' | translate}}"
            type="text"
            formControlName="publicCompanyName"
            name="publicCompanyName"
          />
        </clr-input-container>

        <clr-input-container>
          <label>{{'MERCHANT.DETAILS.OWNER' | translate}}</label>
          <input
            clrInput
            placeholder="{{'MERCHANT.DETAILS.OWNER_PLACEHOLDER' | translate}}"
            type="text"
            formControlName="publicOwner"
            name="publicOwner"
          />
        </clr-input-container>

        <clr-input-container>
          <label>{{'MERCHANT.DETAILS.STREET' | translate}}</label>
          <input
            clrInput
            placeholder="{{'MERCHANT.DETAILS.STREET_PLACEHOLDER' | translate}}"
            type="text"
            formControlName="street"
            name="street"
          />
        </clr-input-container>

        <clr-input-container>
          <label>{{'COMMON.ZIP_CODE' | translate}}</label>
          <input
            clrInput
            placeholder="{{'MERCHANT.DETAILS.ZIP_CODE_PLACEHOLDER' | translate}}"
            type="text"
            formControlName="zip"
            name="zip"
          />
        </clr-input-container>

        <clr-input-container>
          <label>{{'COMMON.LOCATION' | translate}}</label>
          <input
            clrInput
            placeholder="{{'MERCHANT.DETAILS.LOCATION_PLACEHOLDER' | translate}}"
            type="text"
            formControlName="city"
            name="city"
          />
        </clr-input-container>

        <clr-select-container>
          <label>{{'COMMON.COUNTRY' | translate}}</label>
          <select clrSelect name="countryId" formControlName="countryId">
            <option *ngFor="let country of countries" [value]="country.id">
              {{ country.name }}
            </option>
          </select>
        </clr-select-container>

        <clr-input-container>
          <label>{{'COMMON.PHONE_NUMBER' | translate}}</label>
          <input
            clrInput
            placeholder="{{'MERCHANT.DETAILS.PHONE_NUMBER_PLACEHOLDER' | translate}}"
            type="text"
            formControlName="publicPhoneNumber"
            name="publicPhoneNumber"
          />
        </clr-input-container>

        <clr-input-container>
          <label>{{'COMMON.EMAIL_ADDRESS' | translate}}</label>
          <input
            clrInput
            placeholder="{{'MERCHANT.DETAILS.EMAIL_ADDRESS_PLACEHOLDER' | translate}}"
            type="email"
            formControlName="publicEmail"
            name="publicEmail"
          />
        </clr-input-container>

        <clr-input-container>
          <label>{{'MERCHANT.DETAILS.HOMEPAGE' | translate}}</label>
          <input
            clrInput
            placeholder="{{'MERCHANT.DETAILS.HOMEPAGE_PLACEHOLDER' | translate}}"
            type="text"
            formControlName="publicWebsite"
            name="publicWebsite"
          />
        </clr-input-container>

        <h3>{{'MERCHANT.DETAILS.COVER_IMAGE' | translate}}</h3>

        <div class="image-wrapper">
          <div *ngIf="profileForm.get('cover').value; else imageOrPlaceholder">{{profileForm.get('cover').value[0].name}}</div>
          <ng-template #imageOrPlaceholder>
            <img style="max-width: 100%" [src]="merchant.cover.url" *ngIf="merchant.cover; else placeholderText">
            <ng-template #placeholderText>{{'MERCHANT.DETAILS.NO_IMAGE' | translate}}</ng-template>
          </ng-template>
        </div>
        <portal-file-upload maxFileSize="5097152" accept="image/x-png,image/jpeg" [label]="'MERCHANT.DETAILS.UPLOAD_IMAGE' | translate" (onSelect)="imageSelected($event)"></portal-file-upload>

        <h3>{{'MERCHANT.DETAILS.MERCHANT_PAGE' | translate}}</h3>

        <clr-textarea-container>
          <label>{{'MERCHANT.DETAILS.OPENING_HOURS' | translate}}</label>
          <textarea
            clrTextarea
            placeholder="{{'MERCHANT.DETAILS.OPENING_HOURS_PLACEHOLDER' | translate}}"
            formControlName="publicOpeningTimes"
            name="publicOpeningTimes"
          ></textarea>
        </clr-textarea-container>

        <clr-textarea-container>
          <label>{{'MERCHANT.DETAILS.DESCRIPTION' | translate}}</label>
          <textarea
            clrTextarea
            placeholder="{{'MERCHANT.DETAILS.DESCRIPTION_PLACEHOLDER' | translate}}"
            formControlName="publicDescription"
            name="publicDescription"
          ></textarea>
        </clr-textarea-container>
      </form>
      <ng-template #loading>
        <div>
          {{'MERCHANT.DETAILS.LOADING' | translate}}
        </div>
      </ng-template>
      <button
        type="button"
        (click)="save()"
        class="btn btn-primary"
        [disabled]="!profileForm.valid"
        [style.margin-top]="'32px'"
      >
        {{'COMMON.SAVE' | translate}}
      </button>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink>
      {{'COMMON.ACCOUNT' | translate}}
    </button>
    <clr-tab-content>
      <portal-merchant-account></portal-merchant-account>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
