<div style="font-family:arial; font-size:12px;">
    <p>
        Hallo {{ merchant.publicCompanyName }},<br/>
        <br/>
        Bitte bestätigen Sie Ihre E-Mail-Adresse über den nachfolgenden Link:<br/>
        <br/>
        <a href="{{ confirmUrl }}">E-Mail bestätigen</a><br/>
        <br/>
        Nach der Bestätigung werden Sie zum Portal weitergeleitet und können Sich einloggen.
    </p>
</div>
