Hallo {{ merchant.publicCompanyName }},<br><br>

im Portal {{ salesChannel.translated.name }} wurde eine Anfrage gestellt, um Ihr Passwort zurückzusetzen.<br>
Bitte bestätigen Sie den untenstehenden Link, um ein neues Passwort zu definieren.<br />

<a href="{{ urlResetPassword }}">Passwort zurücksetzen</a><br>
