<clr-main-container>
  <!-- Header Toolbar -->
  <clr-header class="header-5">
    <!-- Branding -->
    <div class="branding">
      <a routerLink="/" class="logo-and-title">
        <clr-icon class="is-white" shape="store"></clr-icon> <!-- can be replaced with favicon -->
        <span class="title">Portal</span>
      </a>
    </div>

    <!-- Toolbar Navigation -->
    <div class="header-nav" [clr-nav-level]="1">
      <a *ngFor="let nav of navigation"
         class="nav-link"
         [routerLink]="nav.route"
         routerLinkActive='active'
         [routerLinkActiveOptions]="{ exact: true }">
        {{nav.title}}
      </a>
    </div>
  </clr-header>

  <!-- Content -->
  <div class="login-wrapper">
    <router-outlet></router-outlet>
  </div>

</clr-main-container>
