{% sw_extends '@Storefront/storefront/page/checkout/finish/index.html.twig' %}

{% block base_footer %}
    <footer class="footer-main">
        {% block base_footer_inner %}
            <div class="container">
                {% sw_include '@Storefront/storefront/layout/footer/footer.html.twig' %}
            </div>
        {% endblock %}
    </footer>
{% endblock %}

