<h2>Deine Informationen</h2>

<div class="clr-row">
  <div class="clr-col-12">
    <p class="sub-text">
      Zeige deinen Kunden wer Du bist und was Du tust. Pflege Kontaktdaten, Öffnungszeiten
      und gestalte Deine Händlerseite.
    </p>

    <form clrForm clrLayout="vertical" [formGroup]="form">

      <div class="input-group">
        <clr-input-container>
          <label>Vorname</label>
          <input clrInput type="text" formControlName="firstName">
        </clr-input-container>

        <clr-input-container>
          <label>Nachname</label>
          <input clrInput type="text" formControlName="lastName">
        </clr-input-container>
      </div>

      <h4>E-Mail-Adresse ändern</h4>

      <div class="input-group">
        <clr-input-container>
          <label>Aktuelle E-Mail-Adresse</label>
          <input clrInput disabled type="email" formControlName="currentEmail">
        </clr-input-container>
      </div>
      <button class="btn btn-primary" type="button" (click)="openChangeEmail()">E-Mail-Adresse ändern</button>

      <h4>Passwort ändern</h4>
      <button class="btn btn-primary" type="button" (click)="openChangePassword()">Passwort ändern</button>

    </form>

    <div class="button-wrapper">
      <button
        class="btn btn-primary"
        (click)="saveChanges()"
        [disabled]="form.invalid || !form.dirty">
        Speichern
      </button>
    </div>
  </div>
</div>

<portal-change-password-modal (passwordChanged)="passwordChanged($event)" [modalOpen]="changePasswordModalOpen"></portal-change-password-modal>
<portal-change-mail-modal (emailChanged)="emailChanged($event)" [modalOpen]="changeEmailModalOpen"></portal-change-mail-modal>
