<div class="clr-row">
  <div class="clr-col-12">
    <form clrForm clrLayout="vertical" [formGroup]="form">
      <div class="input-group">
        <clr-input-container>
          <label>Vorname</label>
          <input clrInput type="text" formControlName="firstName" />
        </clr-input-container>

        <clr-input-container>
          <label>Nachname</label>
          <input clrInput type="text" formControlName="lastName" />
        </clr-input-container>
      </div>

      <div class="button-wrapper">
        <button
          class="btn btn-primary"
          (click)="saveChanges()"
          [disabled]="form.invalid || !form.dirty"
        >
          Speichern
        </button>
      </div>

      <h4>E-Mail-Adresse ändern</h4>

      <div class="input-group">
        <clr-input-container>
          <label>Aktuelle E-Mail-Adresse</label>
          <input clrInput disabled type="email" formControlName="currentEmail" />
        </clr-input-container>
      </div>

      <button class="btn btn-primary" type="button" (click)="openChangeEmail()">
        E-Mail-Adresse ändern
      </button>

      <h4>Passwort ändern</h4>
      <button
        class="password-button btn btn-primary"
        type="button"
        (click)="openChangePassword()"
      >
        Passwort ändern
      </button>
    </form>
  </div>
</div>

<portal-change-password-modal
  (passwordChanged)="passwordChanged($event)"
  [modalOpen]="changePasswordModalOpen"
></portal-change-password-modal>
<portal-change-mail-modal
  (emailChanged)="emailChanged($event)"
  [modalOpen]="changeEmailModalOpen"
></portal-change-mail-modal>
