{% block sw_cms_block_merchant_listing_preview %}
    <div class="sw-cms-preview-merchant-listing">
        <div class="sw-cms-preview-merchant-listing__filter-panel">
            <div class="sw-cms-preview-merchant-listing__filter"></div>
            <div class="sw-cms-preview-merchant-listing__filter"></div>
            <div class="sw-cms-preview-merchant-listing__filter"></div>
            <div class="sw-cms-preview-merchant-listing__filter"></div>
        </div>
        Merchant preview
{#        <sw-cms-product-box-preview></sw-cms-product-box-preview>#}
{#        <sw-cms-product-box-preview></sw-cms-product-box-preview>#}
    </div>
{% endblock %}
