{% block sw_cms_block_merchant_listing_preview %}
    <div class="sw-cms-preview-merchant-listing">
        <sw-cms-merchant-box-preview></sw-cms-merchant-box-preview>
        <sw-cms-merchant-box-preview></sw-cms-merchant-box-preview>
        <sw-cms-merchant-box-preview></sw-cms-merchant-box-preview>
    </div>
{% endblock %}
