<clr-modal [clrModalOpen]="modalOpen">
  <div class="modal-body">
    <form [formGroup]="form" clrForm clrLayout="vertical">
      <section class="title">
        <h3 class="welcome">Passwort ändern</h3>
      </section>
      <div>
        <clr-input-container>
          <label>Neues Passwort</label>
          <input type="password" name="password" formControlName="password" clrInput/>
          <clr-control-error>Dein Passwort muss mindestens 8 Zeichen haben.</clr-control-error>
        </clr-input-container>
        <clr-input-container [class.clr-error]="form.errors?.passwordMismatch && form.get('repeatPassword').touched" >
          <label>Neues Passwort bestätigen</label>
          <input type="password" name="repeatPassword" formControlName="repeatPassword" clrInput/>
          <clr-control-error>Die Passwörter sind nicht identisch.</clr-control-error>
        </clr-input-container>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-regular" (click)="modalOpen = false">Abbrechen</button>
    <button [disabled]="form.invalid" type="button" class="btn btn-primary" (click)="doReset()">Passwort speichern</button>
  </div>
</clr-modal>
