@import url('https://rsms.me/inter/inter.css');

:root {
  // sw variables
  --sw-color: #142432;
  --sw-color-reversed: #FFFFFF;
  --sw-font-size: 15px;
  --sw-border: 1px solid #d4d8dc;
  --sw-primary: #189eff;
  --sw-primary-dark: #0085E6;
  --sw-primary-ghost: #E7F5FF;
  --sw-primary-ghost-hover: #D7EDFF;
  --sw-regular: #607182;
  --sw-regular-dark: #52616F; // todo
  --sw-regular-ghost: #EFF0F2;
  --sw-regular-ghost-hover: #DFE3E6;
  --sw-success: #37d046;
  --sw-success-dark: #29AD36; // todo
  --sw-success-ghost: #EBFAEC;
  --sw-success-ghost-hover: #D7F6DA;
  --sw-danger: #de294c;

  // font
  --sw-font: "Inter", sans-serif;
  @supports (font-variation-settings: normal) {
    --sw-font: "Inter var", sans-serif;
  }
  --clr-font: var(--sw-font);

  // clarity overrides
  --clr-btn-primary-bg-color: var(--sw-primary);
  --clr-btn-primary-hover-bg-color: var(--sw-primary-dark);
  --clr-btn-primary-border-color: var(--sw-primary);
  --clr-btn-regular-bg-color: var(--sw-regular);
  --clr-btn-regular-hover-bg-color: var(--sw-regular-dark);
  --clr-btn-regular-border-color: var(--sw-regular);
  --clr-btn-success-bg-color: var(--sw-success);
  --clr-btn-success-hover-bg-color: var(--sw-success-dark);
  --clr-btn-success-border-color: var(--sw-success);
  --clr-btn-link-color: var(--sw-primary);

  // headlines & text
  --clr-h1-font-weight: 700;
  --clr-h2-font-weight: 600;
  --clr-h3-font-weight: 600;
  --clr-h4-font-weight: 500;
  --clr-h5-font-weight: 500;
  --clr-h6-font-weight: 500;
  --ctr-h1-color: var(--sw-color);
  --ctr-h2-color: var(--sw-color);
  --ctr-h3-color: var(--sw-color);
  --ctr-h4-color: var(--sw-color);
  --ctr-h5-color: var(--sw-color);
  --ctr-h6-color: var(--sw-color);
  --clr-p1-color: var(--sw-color);
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: var(--sw-regular);
  font-size: var(--sw-font-size);
  font-family: var(--sw-font);

  p {
    font-size: var(--sw-font-size);
    color: var(--sw-regular);
    line-height: 24px;
  }
}

// scrolling clarity content-area
body.no-scrolling .main-container .content-container .content-area {
  padding-bottom: 80px !important;
  overflow-y: auto;
}

.btn {
  font-size: 15px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: 0;
  height: 48px;
  padding: 12px 24px;
  line-height: 1;
  outline: none !important;
  box-shadow: none !important;

  &.btn-regular {
    background: var(--sw-regular);
    border-color: var(--sw-regular);
    color: var(--sw-text-reversed);

    &:hover, &:focus, &:active {
      background: var(--sw-regular-dark);
      border-color: var(--sw-regular-dark);
    }

    &.btn-link {
      background: var(--sw-regular-ghost);
      border-color: var(--sw-regular-ghost);
      color: var(--sw-text);

      &:hover, &:focus, &:active {
        background: var(--sw-regular-ghost-hover);
        border-color: var(--sw-regular-ghost-hover);
      }
    }
  }

  &.btn-primary {
    border-color: var(--sw-primary);

    &:hover, &:focus, &:active {
      border-color: var(--sw-primary-dark);
    }

    &.btn-link {
      background: var(--sw-primary-ghost);
      border-color: var(--sw-primary-ghost);
      color: var(--sw-primary);

      &:hover, &:focus, &:active {
        background: var(--sw-primary-ghost-hover);
        border-color: var(--sw-primary-ghost-hover);
      }
    }
  }

  &.btn-success {
    border-color: var(--sw-success);

    &:hover, &:focus, &:active {
      border-color: var(--sw-success-dark);
    }

    &.btn-link {
      background: var(--sw-success-ghost);
      border-color: var(--sw-success-ghost);
      color: var(--sw-success);

      &:hover, &:focus, &:active {
        background: var(--sw-success-ghost-hover);
        border-color: var(--sw-success-ghost-hover);
      }
    }
  }
}

.clr-input-wrapper {
  position: relative;
  max-width: unset;
  max-height: unset;
  height: unset;
  width: 100%;

  .clr-input-group {
    border: none !important;
    max-width: unset;
    max-height: unset;
    height: unset;
    width: 100%;
  }

  input.clr-input {
    box-shadow: none !important;
    border-radius: 3px !important;
    background: white !important;
    border: var(--sw-border) !important;
    color: var(--sw-regular) !important;
    line-height: 1 !important;
    height: 48px !important;
    max-height: unset;
    padding: 20px;
    width: 100%;

    &.ng-dirty.ng-invalid {
      border-color: var(--sw-danger) !important;
      color: var(--sw-danger) !important;
    }
  }

  .clr-input-group-icon-action {
    position: absolute;
    cursor: pointer;
    right: 6px;
    top: 12px;
  }
}

.clr-select-wrapper {
  max-height: unset;
  max-width: unset;
  height: unset;
  width: 100%;

  select.clr-select {
    box-shadow: none !important;
    border-radius: 3px !important;
    background: white !important;
    border: var(--sw-border) !important;
    color: var(--sw-regular) !important;
    line-height: 1 !important;
    height: 48px !important;
    max-height: unset;
    padding: 0 20px;
    width: 100%;
  }

  &::after {
    border-color: var(--sw-regular);
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    content: "";
    display: inline-block;
    height: 8px;
    position: relative;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 8px;
    transform: rotate(135deg);
    position: absolute;
    right: 14px;
    top: 19px;
    z-index: 3;
    background-image: unset;
  }
}

.clr-checkbox-wrapper label {
  color: var(--sw-color);
}

.portal-vertical-nav,
.portal-header {
  --clr-responsive-nav-trigger-bg-color: #000;
  --clr-nav-background-color: #F8F9FB;
  // active color
  --clr-vertical-nav-icon-active-color: #189EFF;
  --clr-vertical-nav-item-active-color: #607182;
  --clr-vertical-nav-active-bg-color: rgba(24, 158, 255, 0.1);
  //hover
  --clr-vertical-nav-hover-bg-color: rgba(24, 158, 255, 0.1);
}


/**
 *  Global burger menu style
 */
.open-hamburger-menu {

  .portal-vertical-nav,
  .portal-header {

    .header-hamburger-trigger {
      transform: translateX(calc(100vw - 60px)); // had to be changed because width is now 100%
      transition: transform .3s !important;
      z-index: 1040 !important; //< Nav had index 1039, so it needs to be higher

      span:before,
      span:after {
        transition-delay: .1s;
      }
    }

    .header-backdrop {
      display: none !important;
    }
  }
  .portal-header > .header-nav,
  .portal-vertical-nav {
    width: 100% !important;
    max-width: 100% !important;
  }
}

.clr-textarea-wrapper {
  .clr-textarea {
    box-shadow: none !important;
    border-radius: 3px !important;
    background: white !important;
    border: var(--sw-border) !important;
    color: var(--sw-regular) !important;
    line-height: 1 !important;
    height: 48px !important;
    min-height: 100px;
    max-height: unset;
    padding: 20px;
    width: 100%;
  }
}

.clr-validate-icon {
  display: none !important;
}


.clr-form-control {
  .clr-control-container {
    width: 100%;
    max-width: 600px;
  }
  label.clr-control-label {
    margin-bottom: 6px;
  }
}
