.checkout-aside-action {
    @include media-breakpoint-up(md) {
        text-align: right;
    }

    .btn {
        display: block;

        @include media-breakpoint-up(md) {
            display: inline-block;
        }
    }
}
