{% block sw_cms_element_merchant_listing %}
    <div class="sw-cms-el-merchant-listing">

        <div class="sw-cms-el-merchant-listing__content">
            Merchants
{#            <sw-cms-el-product-box#}
{#                :element="demoMerchantElement"#}
{#                v-for="index in demoMerchantCount"#}
{#                :key="index">#}
{#            </sw-cms-el-product-box>#}
        </div>

        <div class="sw-cms-el-merchant-listing__pagination">
            <div class="sw-cms-el-merchant-listing__pagination-entry">
                <sw-icon name="small-arrow-small-left" size="20px"></sw-icon>
            </div>

            <div class="sw-cms-el-merchant-listing__pagination-entry">1</div>
            <div class="sw-cms-el-merchant-listing__pagination-entry">2</div>
            <div class="sw-cms-el-merchant-listing__pagination-entry">3</div>

            <div class="sw-cms-el-merchant-listing__pagination-entry">
                <sw-icon name="small-arrow-small-right" size="20px"></sw-icon>
            </div>
        </div>
    </div>
{% endblock %}
