<div id="merchant-banner">
    <div class="main-content container">
        <div class="text-container merchant-float">
            <div>
                <span class="text-headline">Gemeinsam helfen und da sein!</span>
                <div class="text-subline">Nutze die Kraft unserer Community gegen die Corona Krise</div>
            </div>
        </div>

        <div class="button-container merchant-float">
            <a class="btn btn-merchant" href="https://downtowns.io/">Als Händler registrieren</a>
        </div>

        <img class="covid-bubble" src="{{ asset('bundles/merchant/storefront/img/covid-bubble.svg') }}" />
    </div>
</div>
