{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    <h1>Thanks, {{ firstname }}</h1>
    <h3>You have successfully registered as a delivery boy...</h3>

    <p>As soon as someone needs your help you will be contacted by phone or e-mail.</p>

    <a>Here you get to your overview</a>
{% endblock %}
