<clr-main-container>

  <!-- Header Toolbar -->
  <clr-header class="header portal-header">
    <!-- Branding -->
    <div class="branding">
      <a routerLink="/" >
        <img class="logo" src="assets/img/shopware_logo_blue.svg"> <!-- can be replaced with favicon -->
        <span class="title">Portal</span>
      </a>
    </div>

    <!-- Toolbar Navigation -->
    <div class="header-nav clr-hidden-md-up" [clr-nav-level]="1">
      <button class="btn btn-primary login-button">Login</button>
      <div class="nav-divider"></div>
      <a *ngFor="let nav of navigation"
         class="nav-link"
         [routerLink]="nav.route"
         routerLinkActive='active'
         [routerLinkActiveOptions]="{ exact: true }">
        {{nav.title}}
      </a>
    </div>

    <div class="header-actions clr-hidden-sm-down">
      <button (click)="openLogin()" class="btn btn-primary login-button">Login</button>
    </div>
  </clr-header>

  <!-- Content Area-->
  <div class="content-container">
    <div class="content-area" [style.padding]="0">
      <router-outlet #content></router-outlet>
    </div>
  </div>

</clr-main-container>

<portal-merchant-login [loginModalOpen]="showLogin">

</portal-merchant-login>
