<portal-container class="route-dashboard">
  <div class="dashboard-intro">
    <h3 class="intro-ghost">COVID-19 – We're here for you</h3>
    <h1>Welcome, lets help together!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam justo eros, ut dignissim arcu viverra sed. Praesent et hendrerit eros. Integer turpis diam, malesuada vitae ligula eget, gravida interdum turpis. Donec consequat sem ac purus commodo tempor.</p>
  </div>

  <h3>From which perspective do you want to use the portal?</h3>
  <div class="dashboard-teaser">
    <h4>I am an organization</h4>
    <button class="btn btn-primary">Register to the portal</button>
    <button class="btn btn-primary btn-link">Login</button>
  </div>
  <div class="dashboard-teaser">
    <h4>I am an merchant</h4>
    <button class="btn btn-primary">Register to the portal</button>
    <button class="btn btn-primary btn-link">Login</button>
  </div>
  <div class="dashboard-organizations">
    <h4>See who is already registered</h4>
    <div *ngFor="let authority of getAuthorities() | async" class="card card-block card-organization">
      <p class="card-text">
        <span>{{ authority.name }}</span>
        <a [href]="authority.domain">{{ authority.domain }}</a>
      </p>
    </div>
  </div>
</portal-container>
