<div class="intro-background">
  <portal-container class="dashboard-intro">
    <h3 class="intro-ghost">COVID-19 – We're here for you</h3>
    <h1>Welcome, lets help together!</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

    <div class="dashboard-options">
      <h3>From which perspective do you want to use the portal?</h3>
      <div class="options-grid">
        <div class="option">
          <clr-icon shape="organization" class="is-solid"></clr-icon>
          <h4>I am an organization</h4>
          <p>A community, town or association.  My organization includes some local businesses.</p>
          <button class="btn btn-primary btn-link">Register</button>
        </div>
        <div class="option">
          <clr-icon shape="store" class="is-solid"></clr-icon>
          <h4>I am a merchant</h4>
          <p>A small retail shop, a local store or a service provider.</p>
          <button class="btn btn-primary btn-link">Register</button>
        </div>
      </div>
    </div>
  </portal-container>
</div>

<portal-container class="route-dashboard">
  <div class="dashboard-organizations">
    <h4>See who is already registered</h4>
    <div *ngFor="let authority of getAuthorities() | async" class="card card-block card-organization">
      <p class="card-text">
        <strong>{{ authority.name }}</strong>
        <a [href]="authority.domain">{{ authority.domain }}</a>
      </p>
    </div>
  </div>
</portal-container>

<clr-modal [clrModalOpen]="true" [clrModalClosable]="true">
  <h3 class="modal-title">Registrierungsanfrage gesendet.</h3>
  <div class="modal-body">
    Deine Anfrage wurde an die von dir ausgewähle Organisation gesendet. Sobald dich die Organisation freigeschaltet hat, bekommst du eine Mail von uns zugeschickt und du kannst deinen Shop anlegen.
  </div>
</clr-modal>
