<h1>
  Products
</h1>

<button type="button" (click)="openAddProductForm()" class="btn btn-primary">Add Product</button>

<!-- Datagrid Table -->
<clr-datagrid (clrDgRefresh)="refresh()" [clrDgLoading]="loading">

  <clr-dg-placeholder>No products found.</clr-dg-placeholder>

  <!-- Columns -->
  <clr-dg-column [clrDgField]="'name'">
    Name
    <clr-icon shape="tag" style="margin-left: 8px;"></clr-icon>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'description'">
    Beschreibung
    <clr-icon shape="clipboard" style="margin-left: 8px;"></clr-icon>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'productType'">
    Typ
  </clr-dg-column>
  <clr-dg-column>
    Aktiv
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'options'">
  </clr-dg-column>

  <!-- Row -->
  <clr-dg-row *ngFor="let product of products">
    <clr-dg-cell>{{product.name}}</clr-dg-cell>
    <clr-dg-cell>{{product.description}}</clr-dg-cell>
    <clr-dg-cell>{{product.productType}}</clr-dg-cell>
    <clr-dg-cell>
      <ng-container *ngIf="product.active; else notActive">
        <clr-icon shape="check"></clr-icon>
      </ng-container>
      <ng-template #notActive>
        <clr-icon shape="times"></clr-icon>
      </ng-template>
    </clr-dg-cell>
    <clr-dg-cell><a (click)="editProduct(product)">
      <clr-icon shape="pencil"></clr-icon>
    </a></clr-dg-cell>
  </clr-dg-row>

  <!-- Footer -->
  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
    of {{total}} Products
    <clr-dg-pagination [(clrDgPage)]="currentPage" #pagination [clrDgTotalItems]="total"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
