<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.2/phpunit.xsd"
         bootstrap="tests/TestBootstrap.php"
         executionOrder="random">

    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="KERNEL_CLASS" value="Shopware\Development\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="APP_SECRET" value="s$cretf0rt3st"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    </php>

    <testsuites>
        <testsuite name="SwagPlatformSecurity Testsuite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory suffix=".php">./bin</directory>
                <directory suffix=".php">./tests</directory>
                <directory suffix=".php">./vendor</directory>
                <directory suffix=".php">./src/Migration</directory>
                <directory suffix=".php">./src/Resources</directory>
                <directory suffix="Definition.php">./</directory>
                <directory suffix="Exception.php">./</directory>

                <file>src/SwagPlatformSecurity.php</file>
                <file>src/Components/AbstractSecurityFix.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
