#merchant-banner {
    height: 100px;
    width: 100%;
    background: #1e52b5;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    .main-content {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .merchant-float {
        float: left;
    }

    .text-container {
        z-index: 10;
    }

    .button-container {
        margin-left: 10%;
        z-index: 10;
    }

    .text-headline {
        font-weight: 600;
        font-size: 16px;
    }

    .text-subline {
        display: none;
    }

    .btn-merchant {
        background: #fff;
        color: $sw-text-color;

        &:hover {
            background: #eeeeee;
            cursor: pointer;
        }
    }

    .covid-bubble {
        transform: rotate(180deg);
        position: absolute;

        right: -20%;
        bottom: -110px;
    }
}

// Banner
#merchant-header-banner {
    background-color: rgba(216, 216, 216, 0.27);

    &.no-description {
        margin-bottom: 40px;
    }

    .merchant-image {
        position: relative;
        padding: 0;

        img {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .merchant-information {
        padding: 40px 60px;

        .merchant-information--row {
            max-width: 500px;

            h1 {
                margin-bottom: 5px;
            }
        }
    }
    ul.contact-information {
        list-style: none;
        margin: 20px 0 30px;
        padding: 0;

        li {
            display: flex;
            flex-wrap: wrap;
            margin: 10px 0;

            .icon-holder {
                display: inline-block;
                width: 16px;
                text-align: center;
                padding-right: 28px;
            }
        }
    }
}

// Description below banner
.merchant-description {
    margin: 60px auto;
    text-align: center;

    .merchant-description--holder {
        max-width: 660px;
        margin: auto;
        padding: 30px;
    }
    .text-headline {
        font-weight: 400;
    }
}

@include media-breakpoint-up(md) {
    #merchant-header-banner {
        .merchant-information {
            padding: 60px 100px;
        }
    }
}

@include media-breakpoint-down(md) {
    #merchant-header-banner {
        .merchant-image {
            height: calc(50px + 15vw + 10vh);
        }
    }
}

@include media-breakpoint-up(sm) {
    #merchant-banner .covid-bubble {
        right: 10%;
    }

    #merchant-banner .text-headline {
        font-size: 20px;
    }

    #merchant-banner .text-subline {
        display: block;
    }

    #merchant-header-banner {
        .merchant-information {
            padding: 50px 70px;

            .merchant-information--row {
                max-width: 500px;
            }
        }
    }
}
