<form class="login">
  <section class="title">
    <h3 class="welcome">Welcome</h3>
    <h5 class="hint">Please login</h5>
  </section>
  <div class="login-group">
    <clr-input-container>
      <label class="clr-sr-only">Username</label>
      <input (keypress)="enterLogin($event)" [(ngModel)]="username" type="text" name="login_username"
             placeholder="Username" clrInput>
    </clr-input-container>
    <clr-password-container>
      <label class="clr-sr-only">Password</label>
      <input (keypress)="enterLogin($event)" [(ngModel)]="password" type="password"
             name="login_password" placeholder="Password" clrPassword>
    </clr-password-container>
    <div style="text-align: center" *ngIf="isLogging">
      <span class="spinner spinner-inline"></span>
      <span class="ml-1">Logging in...</span>
    </div>
    <div class="error active" *ngIf="loginFailed">
      Invalid user name or password
    </div>

    <button type="button" (click)="doLogin()" class="btn btn-primary"
            [disabled]="!username || !password || isLogging">LOGIN
    </button>
  </div>
</form>
