<clr-modal (clrModalOpenChange)="modalClosed()" [clrModalOpen]="loginModalOpen">
  <div class="modal-body">
    <form class="login" [formGroup]="loginForm" clrForm clrLayout="vertical">
      <section class="title">
        <h3 *ngIf="registrationCompleted === false; else newUser" class="welcome">Hallo und Willkommen zurück!</h3>
        <ng-template #newUser>
          <h3>Registrierung erfolgreich!</h3>
        </ng-template>
        <h5 class="hint">Melde Dich im Shopware Portal an.</h5>
      </section>
      <div class="login-group">
        <clr-input-container>
          <label>E-Mail-Adresse</label>
          <input (keypress)="enterLogin($event)" formControlName="username" type="text" name="login_username" clrInput>
        </clr-input-container>
        <clr-input-container >
          <label>Passwort</label>
          <input (keypress)="enterLogin($event)" formControlName="password" type="password"
                 name="login_password" clrInput>
        </clr-input-container>
        <div style="text-align: center" *ngIf="isLogging">
          <span class="spinner spinner-inline"></span>
          <span class="ml-1">Logging in...</span>
        </div>
        <div class="error active" *ngIf="loginFailed">
          Invalid user name or password
        </div>
      </div>
    </form>
    <div class="modal-footer">
      <button type="button" (click)="doLogin()" class="btn btn-primary"
              [disabled]="loginForm.invalid  || isLogging">LOGIN
      </button>
    </div>
  </div>
</clr-modal>
