.product-detail-review-info {
    margin-bottom: 24px;

    .product-detail-review-title {
        margin-bottom: 15px;
    }

    .product-detail-review-rating {

        p.h6 {
            font-weight: $font-weight-normal;
        }

    }

}

.js-review-filter {
    margin-bottom: 24px;
}

.product-detail-review-teaser-btn {
    margin-top: 14px;
}

.product-detail-review-actions {
    margin-bottom: 60px;
}

.product-detail-review-item {
    border-bottom: none;
    margin-bottom: 40px;

    .product-detail-review-item-info {

        .product-detail-review-item-points {
            margin-bottom: 10px;
        }

        .product-detail-review-item-title {
            padding-left: 20px;
            margin-bottom: 20px;
        }

    }

}
