.product-detail-tabs {

    .product-detail-tab-navigation-link {
        font-size: 16px;
        padding: 15px 20px;

        @include media-breakpoint-up(sm) {
            padding: 15px 50px;
            border: none;
        }

        &.active {
            font-weight: $font-weight-bold;
        }

    }

    .product-detail-tabs-content {
        background-color: #ffffff;
        padding: 60px 50px;

        .product-detail-description-text {
            margin-bottom: 60px;
        }

        .product-detail-description-title {
            margin-bottom: 26px;
        }

        .table-striped tbody tr:nth-of-type(odd) {
            background-color: rgb(227, 227, 227);
        }

    }

}
